@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("./images/spaceship.png"), auto;
    transition: 0.5s;
}

:root {
    --light-blue: #31E1F7;
    --space-purple: #400D51;
    --pink: #D800A6;
    --orange: #FF7777;
    --ufo-green: #3cd070;
}

html {
    font-size: 16px;
}

body {
    color: white;
    background-image: url('./images/forestatnight.jpeg');
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center;
    font-family: 'Silkscreen', cursive;
}

li {
    list-style-type: none;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}


/* NAVIGATION BAR */

.logo  {
    transition: all 0.2s ease-in-out;
    color: var(--ufo-green);
    box-shadow: 0 12px 8px var(--ufo-green);
}

.links {
    -webkit-animation: slide-in-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: all 0.7s ease;
    background: transparent;
    overflow: hidden;
    }

.links a {
    background: whitesmoke;
    background: linear-gradient(0deg, rgb(189, 240, 189) 0%,rgb(244, 247, 243)) 100%;
    float: left;
    display: block;
    color: var(--space-purple);
    text-align: center;
    font-size: 15px;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
}

.links a:hover {
    box-shadow: 6px 6px 8px 0 rgba(185, 242, 179, 0.5),
            -6px -6px 8px 0 rgba(20, 233, 48, 0.5),
            inset -6px -6px 8px 0 rgba(34, 128, 39, 0.2),
            inset 6px 6px 8px 0 rgba(8, 63, 22, 0.4);
}

.links a.active {
    background-color: #3cd070;
    color: #400D51;
}

.links .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .links a:not(:first-child) {display: none;}
    .links a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .links.responsive {position: relative;}
    .links.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .links.links.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* GIF Welcome */

.main-greeting {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* MUSIC */

.intro-music {
    text-align: center;
    border: 5px;
    margin: 15px;
    padding: 10px;
}

/* Genres */

.genres {
    margin: 15px;
    padding: 10px;
}

.genres ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Storyline*/

.storyline {
    margin: 15px;
    padding: 25px;  
}

.story-link {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: auto;
    align-content: stretch;
    transition: all 0.7s ease;
    background: transparent;
}

.story-link a {
    text-align: center;
    text-decoration: none;
    color: var(--space-purple);
    font-size: 10px;
    border: 3px solid;
    padding: 10px;
    margin: 20px;
    background: whitesmoke;
    background: linear-gradient(0deg, rgb(189, 240, 189) 0%, rgb(244, 247, 243)) 100%;
    border: none;
}

.story-link a:hover {
    box-shadow: 4px 4px 6px 0 rgba(185, 242, 179, 0.5),
        -4px -4px 6px 0 rgba(20, 233, 48, 0.5),
        inset -4px -4px 6px 0 rgba(34, 128, 39, 0.2),
        inset 4px 4px 6px 0 rgba(8, 63, 22, 0.4);
}

 /* Storyline Site */
.about p {
    margin: 10px;
}


/* Cow sign*/

.cow-sign img {
    display: block;
    margin: auto;
    width: 40%;
    height: auto;
    box-shadow: none;
}

/* Cast */

.cast {
    margin: 15px;
    padding: 10px;
}

/* Episodes */

.episodes {
    margin: 15px;
    padding: 10px;
    
}

.episodes li {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.episodes li a {
    text-decoration: none;
    color: var(--ufo-green);
}

/* Photo gallery */

.photos {
    width:auto;
    height: auto;
    overflow-x: scroll;
    background-color: var(--space-purple);
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 var(--ufo-green), 0 6px 20px var(--pink);
}

.photos-gallery-one, .photos-gallery-two {
    display: flex;
    flex-direction: row;
}

img {
    width: 500px;
    height: 400px;
    box-shadow: 0 0 20px var(--ufo-green);
    margin: 20px;
}

/* Video gallery */

.videos {
    width: auto;
    height: auto;
    overflow-x: scroll;
    background-color: var(--space-purple);
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 var(--ufo-green), 0 6px 20px var(--orange);
}

.video-gallery {
    display: flex;
    flex-direction: row;
}

iframe {
    width: 560px;
    height: 315px;
    box-shadow: 0 0 20px var(--ufo-green);
    margin: 20px;
}

/* Footer */

.footer {
    margin: 10px;
    padding: 10px;
    border: 2px;
    text-align: center;
    font-size: 15px;
}

/* Cast cards */
.cast-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.cast-card {
    box-shadow: 0 4px 8px 0 var(--ufo-green);
    transition: 0.3s;
    width: auto;
    margin: 15px;
    border: 5px;
    padding: 5px;
}

.cast-card img {
    width: 250px;
    height: 250px;
}

.cast-card:hover {
    box-shadow: 0 8px 16px 0 var(--pink);
}

.container {
    padding: 2px 16px;
}

.bio {
    margin: 8px;
}

.bio a{
    text-decoration: none;
    color: var(--ufo-green);
}

/* Trivia */
.trivia-title {
    margin: 10px;
    padding: 20px;
}
.trivia-text {
    margin: 20px;
    padding: 25px;
}

.add-trivia {
    margin: 15px;
    padding: 25px;
}

/* MEDIA QUERIES */