* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 1000px;
    color: white;
    background-image: url('./images/marek-piwnicki-ABzeBBX6RJA-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    font-family: 'Silkscreen', cursive;
}

li {
    list-style-type: none;
}

h3 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    margin: 20px;
    border: 10px;
    padding: 20px;
    border-style: groove;
}

.main-greeting {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.links {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

.links a {
    color: whitesmoke;
    font-size: 30px;
    border: 5px solid;
    padding: 10px;
    margin: 20px;
}

.links a:hover {
    color:chartreuse;
}

.genres {
    display: flex;
    flex-direction: column;
}

.intro-music {
    text-align: center;
}

.photos .photos-gallery  {
    display: flex;
    flex-wrap: wrap;
}

.photos .photos-gallery li {
    height: 40vh;
    flex-grow: 1;
}

.photos .photos-gallery li img {
    max-height: 50%;
    min-width: 50%;
    object-fit: cover;
    vertical-align: bottom;
}

footer {
    text-align: center;
}

/* Media Queries */

@media screen and (max-width: 942px) {
    .links {
        flex-direction: column;
    }
    
}
